/*FOGLIO DI STILE*/
/*FONT: CORMORANT GARAMOND*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap");

/*FONT DI TESTO: INTER*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*setting inizale*/
* {
  margin: 0;
  padding: 0;
}

::selection {
  background-color: transparent;
}

body {
  background-color: rgb(14, 14, 31);
  color: #f2f2f2;
  font-family: "Inter", sans-serif;
  max-height: 90vh;
}
/*setting del box generale*/
#general-container {
  height: 100vh;
  background-color: rgb(14, 14, 31);
}

/*setting della bolla*/
#blob {
  width: 500px;
  aspect-ratio: 1/1; /*NB: definisce il rapporto larghezza/altezza*/
  background: linear-gradient(
    rgba(20, 202, 238, 0.5) 0%,
    rgba(41, 116, 221, 0.8) 40%,
    rgba(126, 26, 247, 0.8) 100%
  );
  border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  filter: blur(50px);
  animation: changeShape 6s linear infinite, rotate 30s linear infinite;
}

/*contenitore della bolla*/
#general-container {
  animation: move 18s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
  text-align: center;
}

/*animazioni della bolla*/
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes move {
  0%,
  100% {
    transform: translate(20%, 0);
  }
  25% {
    transform: translate(35%, 10vh);
  }
  50% {
    transform: translate(45%, 20vh);
  }
  75% {
    transform: translate(25%, 30vh);
  }
}
@keyframes changeShape {
  0%,
  100% {
    border-radius: 30% 70% 70% 30% / 30% 40% 70% 70%;
  }
  20% {
    border-radius: 40% 65% 50% 50% / 40% 35% 35% 65%;
  }
  50% {
    border-radius: 35% 65% 65% 35% / 65% 50% 50% 25%;
  }
  60% {
    border-radius: 40% 65% 50% 50% / 30% 30% 70% 75%;
  }
  80% {
    border-radius: 40% 60% 40% 60% / 50% 50% 50% 60%;
  }
}
@media (max-width: 10000px) {
  #blob {
    width: 300px;
  }
  @keyframes move {
    0%,
    100% {
      transform: translate(20%, 10vh);
    }
    25% {
      transform: translate(35%, 30vh);
    }
    50% {
      transform: translate(45%, 40vh);
    }
    75% {
      transform: translate(25%, 50vh);
    }
  }
}

/*setting generator container*/
#generator-container,
#letter-history {
  width: 500px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.17);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}
#contenitore-generico {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#generator-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
}
#letter-history {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
h2 {
  text-align: left;
  font-weight: 600;
  font-size: 20px;
}
.line {
  position: relative;
  margin-top: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  height: 0.5px;
  width: 100%;
}
#generator-container #letter-generator {
  position: relative;
  padding: 1rem;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-weight: 800;
  font-size: 200px;
  background: linear-gradient(#0b23da, #f78a45);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 25px rgba(255, 140, 66, 0.35);
  z-index: 2;
  display: none;
}
/*stile della nuvola*/
.cloud {
  position: absolute;
  inset: 0;
  border-radius: 50%;

  background: radial-gradient(
    circle at 40% 35%,
    rgba(180, 220, 255, 0.55),
    rgba(140, 160, 255, 0.35) 35%,
    rgba(120, 90, 200, 0.25) 55%,
    rgba(80, 40, 160, 0.15) 70%,
    transparent 85%
  );

  filter: blur(35px);
  animation: cloudPulse 6s ease-in-out infinite;
  z-index: 1;
  pointer-events: none;
}
.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  inset: -15%;
  border-radius: 50%;
  filter: blur(45px);
}

#settings {
  margin-top: 1rem;
}
.checkbox {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.85);
  margin-top: 0.5rem;
}

.checkbox input {
  display: none;
}

.checkmark {
  width: 18px;
  height: 18px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  transition: all 0.25s ease;
}

/* stato checked */
.checkbox input:checked + .checkmark {
  background: rgba(120, 180, 255, 0.35);
  border-color: rgba(120, 180, 255, 0.8);
}
.checkbox .text {
  font-family: "Inter", sans-serif;
}
/* spunta */
.checkbox input:checked + .checkmark::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* hover */
.checkbox:hover .checkmark {
  background: rgba(255, 255, 255, 0.25);
}

#generate {
  margin-top: 2rem;
  padding: 0.8rem;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
  border-radius: 11px;
  box-shadow: 3px 2px 10px rgba(164, 164, 164, 0.293);
}
#generate:hover {
  background-color: #dfdfdf;
}

#counter {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  margin-top: 0.8rem;
}

/*schermi piccoli*/

/*placeholder*/
#placeholder {
  padding: 1rem;
  font-family: "Cormorant Garamond";
  font-size: 200px;
  font-weight: 800;
  text-align: center;
  position: relative;
  z-index: 2;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.6),
    0 0 30px rgba(255, 180, 200, 0.6), 0 0 50px rgba(180, 200, 255, 0.5);

  animation: float 4s ease-in-out infinite;
}
/*animazione placeholder*/
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/*container lettere*/
#container-lettere {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 0.8rem;
}
#letter-history {
  animation: letterAppear 0.5s linear;
  overflow: hidden;
  min-height: 3rem;
  display: none;
}
#container-lettere #subcontainer {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 400;
  animation: popUp 0.2s ease-in-out;
  padding: 0.7rem;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  cursor: pointer;
  transition: 0.4s;
}
#container-lettere #subcontainer:hover {
  background-color: rgba(255, 255, 255, 0.256);
}

/*pop up*/
@keyframes popUp {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

/*box lettere*/
@keyframes letterAppear {
  0% {
    opacity: 0;
    transform: translate(0, -4px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 1);
  }
}

@media screen and (max-width: 600px) {
  #contenitore-generico {
    width: 90%;
  }
  #generator-container {
    width: 85%;
  }
  #letter-history {
    width: 85%;
  }
}
